<html lang="pt-BR"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor de Botão Físico</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/base.css">
</head>
<body>
    <div class="menu">
        <img id="logo" src="../static/img/logo-no-background.svg" alt="">
    </div>
    <div class="card">
        <h1 class="title">Monitor de Botão Físico</h1>
        <div class="button-container">
            <div id="physicalButton" class="physical-button">Em espera...</div>
        </div>
    </div>

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="/static/script.js"></script>
</body></html>